target/*
bin/*
build/*
.gradle/*
.settings/*
.classpath
.project
.factorypath
.attach_pid*
.idea
*.iml
/target
.sts4-cache/
.vscode
_site/
*.css
!petclinic.css
.pipeline/infra/.terraform/
.pipeline/infra/terraform.tfstate*
.pipeline/self-managed/.terraform/
.pipeline/self-managed/terraform.tfstate*
